name: CI

on:
  push:
    branches:
      - chore/enhance-fomatting
  pull_request:
    branches:
      - chore/enhance-fomatting

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: Run tests
        run: |
          pip install pytest
          pytest

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

      - name: Format code with black
        run: |
          pip install black
          black --check .